/* Write your global styles here, in PostCSS syntax */

* {
  cursor: initial;
}

.color__svelte {
  color: #e84d27;
}

*::-moz-selection { /* Code for Firefox */
  background: #e84d27cc;
}
*::selection { 
  background: #e84d27cc;
}