/* Write your global styles here, in PostCSS syntax */

* {
  cursor: initial;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 0.875em;
}

h3 {
  margin-bottom: 0.75em;
}

h4, h5, h6 {
  margin-bottom: 0.5em;
}

.color__svelte {
  color: #e84d27;
}

*::-moz-selection { /* Code for Firefox */
  background: #e84d27cc;
}
*::selection { 
  background: #e84d27cc;
}

a, button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}

h1 small {
  font-size: 75%;
}